@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root[data-theme="inline"] {
  --primary-color: #062B21;
  --secondary-color: #FFE314;
  --accent-color: #151515;
  --neutral-color: rgb(255, 255, 255);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: url('/image/Background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

